* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

.wrapper {
    height: 100%;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.image_wrapper {
    border: 3px rgb(32, 114, 24) solid;
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    width: 700px;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main_header {
    display: flex;
    justify-content: space-between;
}

.turnButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px gray solid;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(65, 211, 65);
    color: white;
}

.turnButton::after {
    transition: all 0.2s;
    position: absolute;
    display: block;
    content: "";
    border-radius: 50%;
    height: 0%;
    width: 0%;
    left: 50%;
    top: 0px;
    backdrop-filter: invert(100%);
}


.turnButton:hover::after {
    transition: all 0.2s;
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    cursor: pointer;
}

.turnButton:active {
    background-color: red;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    border-radius: 100px;
    overflow: hidden;
}

.element {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 168, 51);
    color: white;
    border: 1px green solid;
}

.highlite {
    transition: 0.2s all;
    background-color: rgb(255, 136, 0) !important;
}